# Ignorar caches do Python
**/__pycache__/
*.pyc
*.pyo

# Ignorar builds e distribuições
build/
dist/
*.spec

# Ignorar binários do WebDriver (chromedriver)
chromedriver-win64/

# Ignorar diretórios específicos do projeto
coleta/
scanner/

# Ignorar ambientes virtuais do Python
venv/
.env

README.pdf
favicon.ico
README.txt
sap_note_scanner_installer.exe
sap_note_scanner_installer.rar
setup.iss
