# Ignorar caches do Python
**/__pycache__/
*.pyc
*.pyo

# Ignorar builds e distribuições
build/
dist/
*.spec

# Ignorar binários do WebDriver (chromedriver)
chromedriver-win64/

# Ignorar diretórios específicos do projeto
coleta/
exemplo_coleta/
scanner/
SAP Note Scanner/

# Ignorar ambientes virtuais do Python
venv/
.env

README.pdf
favicon.ico
README.txt
sap_note_scanner_installer.exe
sap_note_scanner_installer.rar
SAP Note Scanner.rar
SAP Note Scanner A.rar
setup.iss
Notas_SAP.xlsx
notes_scanner.json